<a href="https://colab.research.google.com/github/dmherrerar/mydatabese/blob/main/Conexion_planetscale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp37-cp37m-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 1.5 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<=3.20.1,>=3.11.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

In [4]:
pip install python-dotenv mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-dotenv
  Downloading python_dotenv-0.20.0-py3-none-any.whl (17 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 3.7 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp37-cp37m-linux_x86_64.whl size=99975 sha256=56b65e26effab609f066af64feee1ac2a12f4af6d1262bff18e9405e8a690f33
  Stored in directory: /root/.cache/pip/wheels/95/2d/67/2cb3f82e435fc8e055cb2761a15a0812bf086068f6fb835462
Successfully built mysqlclient
Installing collected packages: python-dotenv, mysqlclient
Successfully installed mysqlclient-2.1.1 python-dotenv-0.20.0

In [ ]:
HOST=us-east.connect.psdb.cloud
USERNAME=y9fmsgiu0jediy8mjmed
PASSWORD=pscale_pw_OuVuWrIgXrBz9Xc9Iy7WkF7elCvgVLaemr090kLW8bI
DATABASE=mydatabase

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="y9fmsgiu0jediy8mjmed",
  password="pscale_pw_OuVuWrIgXrBz9Xc9Iy7WkF7elCvgVLaemr090kLW8bI",
  database="mydatabase"
)

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
 host="us-east.connect.psdb.cloud",
  user="y9fmsgiu0jediy8mjmed",
  password="pscale_pw_OuVuWrIgXrBz9Xc9Iy7WkF7elCvgVLaemr090kLW8bI",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
 host="us-east.connect.psdb.cloud",
  user="y9fmsgiu0jediy8mjmed",
  password="pscale_pw_OuVuWrIgXrBz9Xc9Iy7WkF7elCvgVLaemr090kLW8bI",
  database="mydatabase"
)
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.